# views/posts/index.erb
<h1> This is list of know machines </h1>
<ul>
<% @machines.each do |mach| %>
  <li>
    <h2><a href="/machines/<%= mach.monit['id'] %>"><%= mach.monit['id'] %></a>
    <span><%= mach.monit['platform']['version'] %> </span>
    <span><%= mach.monit %></span>
    </h2>
  </li>
<% end %>
</ul>
